.footer_bar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background: #141d2c;
  color: #bcc2cb;
  box-shadow: 0 -2px 50px -2px rgb(0 0 0 / 20%);
}

.footer_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyright {
  display: flex;
  align-items: flex-end;
}

.email {
  font-weight: 500;
}
